<template name="CRFsPatient">
  <div class="page lists-show">
    <nav class="js-title-nav">
     Top part

    </nav>

      <div class="content-scrollable CRF-items" style="margin-left:20px">

         {{#each collectionsInPreferredTableOrder}}
         <H2>
            {{this.displayName}} &nbsp; {{ this.count }} &nbsp; entries
         </H2>
             {{> reactiveTable showFilter=false  showNavigation="auto" collection=this.docs class="table table-bordered table-hover" settings=reactiveTableSettings }}
              <br>
         {{/each}}

      </div>
  </div>
</template>
