<template name="CRFsPatient">
  <div class="page lists-show">
    <nav class="js-title-nav">
    <H2>Focus on Patient {{Current_Patient_ID}}</H2>

    </nav>

      <div class="content-scrollable CRF-items">

         {{#each collectionsInPreferredTableOrder}}
           <h2>
              {{this.displayName}} &nbsp; {{ this.count }} &nbsp; entries
           </h2>
           {{> reactiveTable showFilter=false  showNavigation="auto" collection=this.docs class="table table-bordered table-hover" settings=reactiveTableSettings }}
            <br>
         {{/each}}

      </div>
  </div>
</template>
