<template name="renderAutoForm">
  <div class="content-scrollable CRF-items">
    {{#if previousEntries}}
        Previous entries:
        {{> reactiveTable collection=previousEntries class="table table-bordered table-hover" settings=settings}}
    {{else}}
        &nbsp; There are no previous entries.
    {{/if}}

    {{#if filter}}
        Filtering on {{ filter}}
    {{/if}}

    {{#if readOnly}}
        This is a Read Only Table (information comes comes OnCore or other system).
    {{else}}
        {{>quickForm
          collection=collection
	  schema=schema
          fields=fields
          doc=doc
          type=update
          id="CRFquickForm"
          template="bootstrap3-horizontal"
          label-class="col-sm-4"
          input-col-class="col-sm-8"
        }}
    {{/if}}
  </div>
</template>
