<template name="renderAutoForm">
  <div class="content-scrollable CRF-items" style="margin-left:20px">
    {{#if previousEntries}}
      Previous entries:
        {{> reactiveTable
          collection=previousEntries
          class="table table-bordered table-hover"
          settings=settings
        }}
      {{else}} &nbsp;
        There are no previous entries.
      {{/if}}

      {{#if filter}}
        Filtering on {{ filter}}
      {{/if}}

      {{#if readOnly}}
        This is a Read Only Table (information comes comes OnCore or other system).
      {{else}}

      <hr>

      <!-- <span>collectino: {{collection}}</span><br>
      <span>fields: {{fields}}</span><br>
      <span>doc: {{doc}}</span><br>
      <span>update: {{update}}</span><br> -->

        {{> quickForm
          id="CRFquickForm"
          collection=collection
          fields=fields
          doc=doc
          type=update
          template="bootstrap3-horizontal"
          label-class="col-sm-3"
          input-col-class="col-sm-9"
        }}
      {{/if}}
    </div>
  </template>
